.contaneirButton {
    display: flex;
    justify-content: center;
}

.button {
    border: 0;
    background-color: #c1b4f7;
    padding: 14px 24px;
    font-size: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.button .arrowIcon {

    width: 30px;
    height: 30px;
}